.sidebar {
  width: 300px;
  height: 100vh;
  background: #1e1e2f;
  color: #fff;
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.sidebar-top {
  display: flex;
  align-items: center;
  gap: 15px;
  margin-bottom: 20px;
}

.profile-pic {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: 2px solid #4cafef;
  cursor: pointer;
}


.username {
  font-size: 18px;
  font-weight: bold;
}

.search-box {
  margin-bottom: 20px;
}

.search-box input {
  width: 100%;
  padding: 10px;
  border-radius: 8px;
  border: none;
  outline: none;
  background: #2a2a3d;
  color: #fff;
}

.search-box input::placeholder {
  color: #aaa;
}

.user-list {
  flex: 1;
  overflow-y: auto;
}

.user-card {
  display: flex;
  align-items: center;
  gap: 15px;
  padding: 10px;
  border-radius: 8px;
  transition: background 0.3s;
  cursor: pointer;
}

.user-card:hover {
  background: #2f2f45;
}

.user-pic {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.user-info h4 {
  margin: 0;
  font-size: 16px;
}

.user-info p {
  margin: 0;
  font-size: 13px;
  color: #aaa;
}
